body{
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    margin: 0;
    width: 1440px;
}
img{
    display: block;
}
main{
    flex-grow: 1;
}
h1, h2,h3, p{
    margin: 0;
}
ul{
    padding-left: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header ul li a:hover{
    color: #404BBF;
}
.navigation-menu ul li a:focus{
    color: #404bbf;
}
.address-menu li a:focus{
    color: #404bbf;
}
p{
    color: #434455;
}
h2, h3{
    color: #2E2F42;
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* HEADER START*/
.header-main{
    border-bottom: 1px solid #e7e9fc;
}
.header-main .container{
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    padding: 0 15px;
   
}
.navigation{
    display: flex;
    align-items: center;
    
}
.navigation-menu, .address-menu{
    display: flex;
    gap: 40px;
}
.logo{
    font-family: Raleway, sans-serif;
   font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    
}
.logo-studio{
    color: #2e2f42;
}

.navigation-menu-a{
    color: #2E2f42;
    font-weight: 500;
    font-size: 16px;
  line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.navigation-menu-a:focus{
    color: #404bbf;
}
.about-menu-a{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.header-adress{
    font-style: normal;
}
/* SECTION 1 Start  */

.section_one{
    background-color: #2E2F42;
    padding: 188px 0;
}
.section_one-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    text-align: center;
}
.container button{
    margin-top: 48px;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px; 
}

.maintextone{
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
}
.section_one-btn:hover{
    background-color: #404BBF;
}

.section_one-btn:focus{
    background-color: #404BBF;
}

/* SECTION 1 End   */
/*  SECTION 2 Start   */
.section_two{
    padding: 120px 0;
}
.section_two .container{
    display: flex;
}
.about-menu{
    display: flex;
    gap: 24px;
}
.aboutmenu-zag{
    font-weight: 500;
    font-size: 20px;
   line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    
}
.about-menu-text{
    font-weight: 400;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
}

.about-menu .items{
    width: calc((100%-72px) / 4);
}

/* SECTION 2 END
    SECTION 3 Start */
.team-ul{
    display: flex;
    gap: 24px;
    
}
.maintext{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-li{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}
.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.carts-team{
    padding: 32px 0;
    width: 232px;
}
.section_three{
    padding: 120px 0;
    background-color: #F4F4FD;
}
/*  SECTION 3 END
    SECTION 4 START*/
.section_four{
    background-color:#FFFFFF;
    padding: 120px 0;
}
.portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
     row-gap: 48px;
    
}
.portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize
}
.portfolio-main{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    margin-bottom: 8px;
}
.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-bottom: 80px;
}
.carts-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-li{
    width: calc((100% - 48px) / 3);
   
}
/* SECTION 4 END
    Footer START*/
footer .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto; 
}

.logo-footer-start{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    margin-bottom: 16px;
    display: inline-block;
}
.container a{
    display: inline-block;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.logo-footer{
    font-family: Raleway, sans-serif;
   font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
}

.fotter{
    background-color: #2E2F42;
    padding: 100px 0;
}
footer p{
    color: #F4F4FD;
}
/* FOOTER END*/